$color-white: #fff;
$color-black: #000;
$color-bg-catalog: #f1f1f1;
$color-blue: #3d37c5;
$color-orange: #ff9000;
$color-gray: #d5d5d5;

$font-white: #fefefe;
$font-gray: #9a9a9a;

$separator: 1px solid $color-gray;
