.build
.DerivedData
.DS_Store
.gradle
.idea
.pytest_cache
.swiftinterfaces
.swiftpm
.vscode
__pycache__
build/
Pods/
XcodeBuild/
xcuserdata/

local.properties
Package.resolved

/client/ios/DivKit/generated_sources/*_hash
/client/ios/DivKitTests/Entities/generated_sources/*_hash
/client/ios/Tests/results
