.build
.DerivedData
.DS_Store
.gradle
.idea
.swiftinterfaces
.swiftpm
.vscode
build/
Pods/
XcodeBuild/
xcuserdata/
__pycache__/

local.properties
Package.resolved

/client/ios/DivKit/generated_sources/*_hash
/client/ios/DivKitTests/Entities/generated_sources/*_hash
