<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".RegressionActivity"
            android:label="@string/regression_label"
            android:theme="@style/RegressionTheme"/>

        <activity
            android:name=".ScenarioActivity"
            android:exported="true"
            android:theme="@style/RegressionTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="playground" android:host="test" />
            </intent-filter>
        </activity>
    </application>
</manifest>
