.video__video {
    display: block;
    width: 100%;
    height: 100%;
}

.video__aspect-wrapper {
    position: relative;
}

.video_absolute .video__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
