<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" tools:node="remove"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:name=".DivkitApplication"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".LauncherActivity"
            android:theme="@style/AppTheme.NoActionBar.White"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".div.DivActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/samples"
            android:theme="@style/AppTheme.NoActionBar.Samples"/>

        <activity
            android:name=".div.Div2Activity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar.Demo">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="divkit.tech" android:pathPrefix="/playground/api" />
                <data android:host="divview.yandex-team.ru" android:pathPrefix="/api" />
                <data android:host="divview-test.in.yandex.net" android:pathPrefix="/api" />
                <data android:host="divview.in.yandex.net" android:pathPrefix="/api" />
            </intent-filter>
        </activity>

        <activity
            android:label="@string/demo"
            android:name=".div.Div2ScenarioActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar.Demo">
        </activity>

        <activity
            android:name=".settings.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar.Settings"/>

        <activity
            android:name=".screenshot.DivScreenshotActivity"
            android:exported="true"
            android:theme="@style/DivScreenshotTheme" />

        <activity
            android:name=".benchmark.Div2BenchmarkActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".benchmark.Div2StateBenchmarkActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".benchmark.Div2FeedBenchmarkActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".benchmark.DivStorageBenchmarkActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".DummyActivity"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name=".div.GalleryFeedTestActivity"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name="com.yandex.divkit.regression.SliderActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".utils.QRCaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.QrScan"/>

    </application>
</manifest>
