.errors-section
    display flex
    flex-direction column
    padding 0 16px

    &__header
        display flex
        align-items center
        margin 10px 0

    &__back-button
        margin-right 10px
        width 20px
        height 20px

    &__back-icon
        width 8px
        height 14px
        background-size 8px 14px
        background-position 50%
        background-repeat no-repeat
        background-image url(../assets/arrow.svg?data-uri)

    &__subheader
        margin 10px 0 0
        padding 0
        font-size 14px

    &__list
        list-style-type none
        padding 0
        font-size 14px

    &__list-item
        margin-top 10px
        display flex
        flex-direction column
        align-items flex-start

    &__node-name
        color cornflowerblue
        margin-top 4px
