.footer-section
    display flex
    align-items center
    justify-content space-between
    height 50px
    border-top 1px solid rgba(#000, 0.08)
    padding 0 16px
    margin-top auto
    flex-shrink 0
    background #fff

    &__errors-button
        color rgb(179, 38, 30)

    &__errors-icon
        width 16px
        height 16px
        margin-right 10px

    &__errors-message
        font-size 14px
        font-weight 500

    &__version
        font-size 14px
        color rgba(#000, 0.45)

    &__right
        display flex
        align-items center

    &__button
        display flex
        align-items center
        justify-content center
        width 20px
        height 20px
        margin-left 10px
        opacity .45

    &__help-icon
        width 16px
        height 16px
        background-image url(../assets/help.svg?data-uri)
        background-position 50%
        background-size 16px
        background-repeat no-repeat

    &__settings-icon
        width 16px
        height 16px
        background-image url(../assets/gear.svg?data-uri)
        background-position 50%
        background-size 16px
        background-repeat no-repeat
