@import 'src/style/abstracts/var.scss';

.header {
  flex-shrink: 0;
  height: 8.2rem;
  display: flex;
  align-items: center;
  background-color: $color-white;
  padding: 2rem;
  justify-content: space-between;

  @media only screen and (max-width: (600px)) {
    padding: 2rem 1rem;
  }
}

.title {
  font-size: 2.2rem;
}

.divkitLogo {
  width: 16rem;
  height: 4.2rem;
  @media only screen and (max-width: (600px)) {
    width: 4.5rem;
  }
}
