<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>teamID</key>
	<string>CXV565V7MX</string>
    <key>signingCertificate</key>
    <string>iPhone Distribution: Intertech Services AG (CXV565V7MX)</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>tech.divkit.demo.appstore</key>
        <string>DivKit Demo AppStore</string>
    </dict>
</dict>
</plist>
