.pager {}

.pager__items {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: grid;

    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

.pager__items::-webkit-scrollbar {
    display: none;
}

.pager__item {
    display: grid;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    scroll-snap-align: center;
}

@supports (overflow: clip) {
    .pager__item {
        overflow: clip;
    }
}

.pager_orientation_horizontal > .pager__items {
    justify-content: start;
    grid-auto-flow: column;
    grid-template-rows: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: mandatory;
    scroll-snap-type: x mandatory;
}

.pager_orientation_vertical > .pager__items {
    align-content: start;
    grid-auto-flow: row;
    grid-template-columns: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: mandatory;
    scroll-snap-type: y mandatory;
}


.pager_orientation_horizontal > .pager__items > .pager__item_height_content,
.pager_orientation_horizontal > .pager__items > .pager__item_height_fixed {
    height: max-content;
}

.pager_orientation_horizontal > .pager__items > .pager__item_height_content:not(.pager__item_height-constrained),
.pager_orientation_horizontal > .pager__items > .pager__item_height_fixed {
    max-height: none;
}

.pager_orientation_vertical > .pager__items > .pager__item_width_content,
.pager_orientation_vertical > .pager__items > .pager__item_width_fixed {
    width: max-content;
}

.pager_orientation_vertical > .pager__items > .pager__item_width_content:not(.pager__item_width-constrained),
.pager_orientation_vertical > .pager__items > .pager__item_width_fixed {
    max-width: none;
}


.pager__arrow::before {
    background: var(--divkit-pager-arrow-bg, #fff);
    box-shadow: 0 .2em .4em 0 var(--divkit-pager-arrow-shadow, rgba(0, 0, 0, .1));
}

.pager__arrow:hover::before {
    box-shadow: 0 .2em .8em 0 var(--divkit-pager-arrow-shadow, rgba(0, 0, 0, .1));
}

.pager__arrow:active::before {
    box-shadow: 0 .1em .4em 0 var(--divkit-pager-arrow-shadow, rgba(0, 0, 0, .1));
}

.pager__arrow-icon-path {
    fill: var(--divkit-pager-arrow-fg, #000);
}
