<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>YSText-Bold.ttf</string>
		<string>YSText-Light.ttf</string>
		<string>YSText-Medium.ttf</string>
		<string>YSText-Regular.ttf</string>
	</array>
	<key>REFERENCE_SNAPSHOTS_PATH</key>
	<string>$(PROJECT_DIR)/Tests/ReferenceSnapshots/</string>
</dict>
</plist>
