@value outer, root__clickable, root__clickable-no-transition, root__selectable from "../Cls.module.css";

.tooltip {
    position: absolute;
    top: 0;
    left: 0;
    max-width: none;
    max-height: none;
    margin: 0;
    padding: 0;
    visibility: hidden;
    border: none;
    background: none;
    pointer-events: none;
}

.tooltip::backdrop {
    background: transparent;
}

.tooltip_visible {
    visibility: visible;
    pointer-events: auto;
}

.tooltip > .outer:not(.root__clickable):not(.root__clickable-no-transition):not(.root__selectable) {
    pointer-events: none;
}

.tooltip__inner {
    position: relative;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    width: 100%;
    height: 100%;
}

.tooltip__overlay {
    position: fixed;
    z-index: var(--divkit-tooltip-overlay-z-index);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    border-radius: 0;
    appearance: none;
    pointer-events: auto;
}
