.indicator {}

.indicator__scroller {
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

.indicator__scroller::-webkit-scrollbar {
    display: none;
}

.indicator__items {
    display: flex;
    align-items: center;
    height: 100%;
}

.indicator__item {
    flex-shrink: 0;
    width: var(--divkit-indicator-width);
    height: var(--divkit-indicator-height);
    border-radius: var(--divkit-indicator-border-radius);
    background-color: var(--divkit-indicator-inactive-color);
}

.indicator__item_active {
    background-color: var(--divkit-indicator-active-color);
    transform: scale(var(--divkit-indicator-active-scale));
}

.indicator_placement_default .indicator__item {
    margin: var(--divkit-indicator-default-margin);
}

.indicator_placement_default .indicator__item:first-child {
    margin-left: auto;
}

.indicator_placement_default .indicator__item:last-child {
    margin-right: auto;
}

.indicator_placement_stretch .indicator__item {
    /* needs both grow and shrink */
    flex: 1 1 auto;
    min-width: calc((100% - var(--divkit-indicator-stretch-max-spacer)) / var(--divkit-indicator-stretch-max-count));
    margin-left: var(--divkit-indicator-stretch-margin);
}

.indicator_placement_stretch .indicator__item:first-child {
    margin-left: 0;
}
