.select {
    position: relative;
    display: flex;
    min-width: 0;
    min-height: 0;
}

.select__select-text {
    user-select: none;
    white-space: pre-wrap;
}

.select_hint .select__select-text {
    color: var(--divkit-input-hint-color);
}

.select__select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    font: inherit;
    pointer-events: auto;
}

.select__select_has-custom-focused:focus,
.select__select.has-custom-focused:focus-visible {
    outline: none;
}

.select__option {
    font: inherit;
}
