@value text-range from "../Cls.module.css";

.text-range {
    white-space: pre-wrap;
    color: inherit;
}

.text-range_cloud {
    box-decoration-break: clone;
}

.text-range_singleline {
    white-space: nowrap;
}

.text-range__top-offset {
    display: inline-block;
}

.text-range_decoration_both {
    text-decoration: underline line-through;
}

.text-range_decoration_underline {
    text-decoration: underline;
}

.text-range_decoration_strike {
    text-decoration: line-through;
}

.text-range_decoration_none {
    text-decoration: none;
}

.text-range_align_top {
    vertical-align: top;
}

.text-range_align_center {
    vertical-align: middle;
}

.text-range_align_bottom {
    vertical-align: bottom;
}

.text-range_align_baseline {
    vertical-align: baseline;
}

.text-range__cloud-svg {
    display: none;
}

.text-range_relative-vertical-align {
    position: relative;
}
